<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="admin">
                    <div class=""><img src="app-assets/images/logoAgua.png" alt="" class="img-fluid" width="30">
                    </div>
                    <h2 class="brand-text mb-0">CAPYSH</h2>
                </a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
                        class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i
                        class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary"
                        data-ticon="icon-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>



    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item"><a href="admin"><i class="feather icon-home"></i><span class="menu-title"
                        data-i18n="Dashboard">Dashboard</span></a>
            </li>

            <li class="navigation-header d-none users-module"><span>Modulo Usuarios</span>
            </li>

            <li class="nav-item d-none users-module"><a href="#"><i class="feather icon-user"></i><span
                        class="menu-title" data-i18n="User">Usuarios</span></a>
                <ul class="menu-content">
                    <li class="d-none create-users"><a href="registroUser"><i class="feather icon-disc"></i><span
                                class="menu-item" data-i18n="registroUser">Registrar Usuario</span></a>
                    </li>
                    <li class="d-none read-users"><a href="listUser"><i class="feather icon-disc"></i><span
                                class="menu-item" data-i18n="ListUser">Listar Usuarios</span></a>
                    </li>
                </ul>
            </li>


            <li class="navigation-header d-none price-module"><span>Modulo Agua</span>
            </li>

            <li class="nav-item d-none price-module"><a href="#"><i class="feather icon-droplet"></i><span
                        class="menu-title" data-i18n="ControlAgua">Control Agua</span></a>
                <ul class="menu-content">
                    <li class="d-none create-price"><a href="registroPrecio"><i class="feather icon-disc"></i><span
                                class="menu-item" data-i18n="rPrecio">Registrar Precio</span></a>
                    </li>
                    <li class="d-none create-discount"><a href="descuento"><i class="feather icon-disc"></i><span
                                class="menu-item" data-i18n="Desc">Descuento</span></a>
                    </li>
                </ul>
            </li>

            <li class="navigation-header d-none clients-module"><span>Modulo Clientes</span>
            </li>

            <li class="nav-item d-none clients-module"><a href="#"><i class="feather icon-users"></i><span
                        class="menu-title" data-i18n="Clientes">Clientes</span></a>
                <ul class="menu-content">
                    <li class="d-none create-clients"><a href="registroCliente"><i class="feather icon-disc"></i><span
                                class="menu-item" data-i18n="registroCliente">Registrar Cliente</span></a>
                    </li>
                    <li class="d-none read-clients"><a href="listCliente"><i class="feather icon-disc"></i><span
                                class="menu-item" data-i18n="ListCliente">Listar Clientes</span></a>
                    </li>
                </ul>
            </li>

            <li class="navigation-header d-none measurers-module"><span>Modulo Medidor</span>
            </li>

            <li class="nav-item d-none measurers-module"><a href="#"><i class="feather icon-cpu"></i><span
                        class="menu-title" data-i18n="Medidor">Medidor</span></a>
                <ul class="menu-content">
                    <li class="d-none create-measurers"><a href="registroMedidor"><i class="feather icon-disc"></i><span
                                class="menu-item" data-i18n="registroMedidor">Registrar Medidor</span></a>
                    </li>
                    <li class="d-nonde read-measurers"><a href="listMedidor"><i class="feather icon-disc"></i><span
                                class="menu-item" data-i18n="ListMedidor">Listar Medidores</span></a>
                    </li>
                </ul>
            </li>

            <li class="navigation-header d-none readings-module"><span>Modulo Lectura</span>
            </li>

            <li class="nav-item d-none readings-module"><a href="#"><i class="feather icon-file-text"></i><span
                        class="menu-title" data-i18n="Medidor">Lectura Servicio</span></a>
                <ul class="menu-content">
                    <li class="d-none create-readings"><a href="registroLectura"><i class="feather icon-disc"></i><span
                                class="menu-item" data-i18n="registroLectura">Registrar Lectura</span></a>
                    </li>
                    <li class="d-none read-readings"><a href="listLectura"><i class="feather icon-disc"></i><span
                                class="menu-item" data-i18n="ListLectura">Listar Lecturas</span></a>
                    </li>
                </ul>
            </li>

            <li class="navigation-header d-none billings-module"><span>Modulo Pago</span>
            </li>
            <li class="nav-item d-none update-billings"><a href="pago"><i class="feather icon-dollar-sign"></i><span class="menu-title"
                        data-i18n="pago">Emisión de Pago</span></a>
            </li>
            <li class="navigation-header d-none update-measurers"><span>Modulo Servicio</span>
            </li>
            <li class="nav-item d-none update-measurers"><a href="servicio"><i class="feather icon-activity"></i><span class="menu-title"
                        data-i18n="pago">Estado del Servicio</span></a>
            </li>

        </ul>
    </div>
</div>


<!-- <script type="text/javascript">
    const currentLocation = location.href;
    const menuItem = document.querySelectorAll('.main-menu-content a');
    console.log(menuItem);
    const menutamano = menuItem.length;
    for (let i = 0; i < menutamano; i++) {
        if (menuItem[i].href === currentLocation) {
            menuItem[i].className = "active";
        }


    }
</script> -->
