.navbar-wrapper .navbar-nav .pt-1{
	padding-top: 0.6rem !important;
}
.navigation-header{
	font-weight: bold;
}

.bg-semi-dark{
	background-color: #11163B !important;
}

.btn-primary{
	box-shadow: 0 4px 15px -8px #7367f0;
}
.app-content{
	background-color: #ecf5ff;
}

@media (max-width: 575.98px){
	.header-navbar.floating-nav {
		margin-right: 1.8rem !important;
	}
	.ag-theme-material .ag-paging-panel{
		padding: 0;
	}
}

.btn-success{
	background-color: #6ba957 !important;
	box-shadow: 0 4px 15px -8px #6ba957;
}
.btn-danger{
	background-color: #EA5455 !important;
	box-shadow: 0 4px 15px -8px #EA5455;
}
.table-bordered th, .table-borderless th{
	color: #7367f0;
}